<% new_record = @post.new_record? %>
<%= form_for [refinery, :admin_blog, @post],
              html: { data: { remote: true }} do |f| %>
  <div class="clearfix">
    <%= render('/refinery/admin/locale_picker',
                (new_record ?
                  { url: 'new_admin_blog_post_path' } :
                  { url: 'edit_admin_blog_post_path', url_options: { id: @post } })
              ) if Refinery::I18n.frontend_locales.many? %>

    <div class="form-title">
      <h1>
      <% if new_record %>
        <%= t('create_new', scope: 'refinery.admin.blog.posts.actions') %>
      <% else %>
        <%= t('edit_post', scope: 'refinery.admin.blog.posts.actions') %>:
        <%= link_to_if @post.translation.persisted?, @post.title, refinery.blog_post_path(@post), target: '_blank' %>
      <% end -%>
      </h1>

      <div class="clearfix">
        <div class="meta-informations right-side">
          <%= record_meta_information @post unless new_record %>
        </div>
        <div class="breadcrumbs less-important">
          <p>
            <%= link_to refinery_plugin.title, refinery.admin_blog_root_path %> /
            <%= link_to t('title', scope: 'refinery.admin.blog.posts.records'),
                        refinery.admin_blog_posts_path %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <%= render '/refinery/admin/error_messages',
              object: f.object,
              include_object_name: true %>


  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'larger widest' %>
  </div>

  <div id="post-parts" class="ui-tabs">
    <ul class="ui-tabs-nav nojs-hide">

      <li class="post-part">
        <a href="#blog-perex"><%= t('perex', scope: 'activerecord.attributes.refinery/blog/post') %></a>
      </li>

      <li class="post-part">
        <a href="#blog-body"><%= t('body', scope: 'activerecord.attributes.refinery/blog/post') %></a>
      </li>

      <li>&nbsp;</li>

      <li class="post-tab">
        <a href="#blog-teaser"><%= t('teaser', scope: 'activerecord.attributes.refinery/blog/post') %></a>
      </li>

      <% ::Refinery::Blog::Posts.tabs.each_with_index do |tab, tab_index| %>
        <li id="custom_<%= tab.name %>_tab" class="post-tab">
          <%= link_to t(tab.name, scope: 'refinery.admin.pages.tabs'), "#custom_tab_#{tab_index}" %>
        </li>
      <% end %>
    </ul>


    <div id="blog-perex" class="field">
      <%= f.label :perex, class: 'js-hide' %>
      <%= render '/refinery/admin/wysiwyg',
                  f: f,
                  field: :perex -%>
    </div>

    <div id="blog-body" class="field">
      <%= f.label :body, class: 'js-hide' %>
      <%= render '/refinery/admin/wysiwyg',
                  f: f,
                  field: :body -%>
    </div>

    <div id="blog-teaser" class="field">
      <%= f.label :teaser, class: 'js-hide' %>
      <%= render '/refinery/admin/wysiwyg',
                  f: f,
                  field: :teaser -%>
    </div>

    <% ::Refinery::Blog::Posts.tabs.each_with_index do |tab, tab_index| %>
      <div class="ui-tabs-panel post-tab" id="custom_tab_<%= tab_index %>">
        <%= render tab.partial, f: f %>
      </div>
    <% end %>
  </div>

  <%= render 'form_advanced_options', f: f %>

  <div class="clearfix">
    <div class="hemisquare">

      <div class="field">
        <%= f.label :tags %>
        <%= f.text_field :tag_list,
                    class: 'larger widest autocomplete',
                    data: {
                      autocomplete: { multiple: true, source: Refinery::Blog::Post.tag_counts_on(:tags).map(&:name) }
                    } %>
      </div>
    </div>
    <div class="hemisquare right-side">
      <div class="field <%= 'hide' if new_record %>">
        <%= f.label :published_at %>
        <%= f.datetime_select :published_at %>
      </div>
    </div>
  </div>

  <div class="form-actions clearfix">
    <div class="form-actions-left">
      <%= submit_tag(t('save', scope: 'refinery.admin.form_actions'),
                  class: 'button submit-button',
                  data: { disable_with: t('processing', scope: 'refinery.admin.form_actions') }
                ) %>

      <%= link_to t('preview', scope: 'refinery.admin.form_actions'),
                  refinery.preview_blog_post_path(id: @post.id),
                  class: 'button preview-button secondary-button nojs-hide',
                  title: t('.preview_title') %>

    </div>

    <div class="form-actions-right">

      <%= link_to(t("#{'un' if @post.live?}publish", scope: 'refinery.admin.form_actions'),
                  refinery.toggle_publish_admin_blog_post_path(id: @post.id),
                  class: 'button secondary-button publish-button',
                  method: :post,
                  data: {
                    remote: true,
                    disable_with: t('processing', scope: 'refinery.admin.form_actions')
                  }) if @post.persisted? %>

      <%= submit_tag(t('delete', scope: 'refinery.admin.form_actions'),
                  name: 'delete',
                  method: :delete,
                  data: {
                    remote: true,
                    confirm: t('message', scope: 'refinery.admin.delete', title: @post.title)
                  },
                  title: t('delete', scope: 'refinery.admin.pages'),
                  class: 'button confirm-delete danger-button nojs-hide'
                ) if @post.persisted? %>
    </div>
  </div>
<% end -%>

  </div>
