<% cache refinery_record_cache_key @post do -%>
<% content_for :opengraph_meta_tags, opengraph_meta_tags_for(@post) %>
<article role="article" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 itemprop="name"><%= @post.title %></h1>
  </header>

  <section class="perex" itemprop="articlePerex">
    <%= render_content(@post.perex) %>
  </section>

  <% if @post.featured_image.present? -%>
  <section class="featured-image">
    <%= image_fu @post.featured_image,
                Refinery::Images.user_image_sizes[:large],
                itemprop:'image',
                role: 'banner',
                alt: @post.featured_image.alt,
                class: 'size-large'%>
  </section>
  <% end -%>

  <section class="body" itemprop="articleBody">
    <%= render_content(@post.body) %>
  </section>

  <footer class="footer">
    <hr>
    <p>
      <span class="author">
        <%= t('posted_by', scope: 'refinery.blog.posts') %>
        <% (authors = @post.authors.map(&:to_s)).each do |author| %>
          <b itemprop="author"><%= author -%></b><% unless authors.last == author -%>, <% end -%>
        <% end -%>
      </span>
      <time class="date posted_at" itemprop="datePublished"
        datetime="<%=l @post.published_at.to_date, format: :default %>" >
        <%= t('posted_at', scope: 'refinery.blog.posts') %> <%= l(@post.published_at.to_date, format: :long) %>
      </time>
      <% if @post.source_url.present? %>
        <br>
        <%= t('source', scope: 'refinery.blog.posts') %>: <%= link_to @post.source_url_title.presence || @post.source_url, @post.source_url,
                    itemprop: 'isBasedOnUrl' %>
      <% end %>
    </p>
    <hr>
    <%= render partial: '/refinery/blog/posts/nav' %>
  </footer>
</article>
<%= sharing_service_for @post %>
<hr>
<%= comment_service_for @post %>
<% end -%>
