<li class="record" id="<%= dom_id(category) %>">
  <div class="detail">
    <span class="title">
      <%= category %>
    </span>
    <%= record_meta_information category %>
  </div>

  <span class="actions">
    <%= link_to t('delete', scope: 'refinery.admin.record'),
                refinery.admin_blog_category_path(category),
                class: 'delete confirm-delete nojs-hide icon-small delete-icon',
                title: t('.delete'),
                data: {
                  remote: true,
                  confirm: t('message', scope: 'refinery.admin.delete', title: category)
                },
                method: :delete %>

    <%= link_to t('edit', scope: 'refinery.admin.record'),
                refinery.edit_admin_blog_category_path(category),
                class: 'icon-small edit-icon',
                title: t('.edit') %>

    <% if category.translation.new_record? %>
      <%= content_tag :a, '', class: 'icon-small no-live-icon', title: t('.translation_not_exists') %>
    <% else %>
      <%= link_to t('live', scope: 'refinery.admin.record'),
                  refinery.blog_category_path(category),
                  target: '_blank',
                  class: 'icon-small live-icon',
                  title: t('.view_live') %>
    <% end %>

  </span>
</li>
